*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F4F5F7;
}

.box-abu{
    color: #CFD4ED;
    background-color: #CFD4ED;
    width: 100px;
height: 34px;
    margin-left: 20px;
flex-shrink: 0;
}


#button-login{
    border-radius: 2px;
}


.header-navbar {
    justify-content: space-between;
    display: flex;
    position: fixed;
    margin-left: 100px;
    width: 100%;
    padding-right: 100px;
    padding-top: 16px;
    background-color: white;
}
#circle-user {
    display: flex;
    padding-top: 18px;
    padding-left: 16px;
}


#form-search{
    display: flex;
}

.name-user{
    cursor: pointer;
    display: flex;
    padding-left: 8px;
    padding-top: 6px;
}
#dropdown-user {
    cursor: pointer;
    display: flex;
    padding-left: 8px;
    padding-top:11px;
}
.dropdown-circle{
    cursor: pointer;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 80px;
    margin-left: 335px;
    text-align: center;
    background-color: white;
    padding: 8px;
   margin-top: 40px;

  }